.container{
    width: 1320px;
    padding: 0 16px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
body{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 0 16px;
}
.box-12{
    width: 100%;
}
.box-2{
    width: 16.66%;
}
.box-10{
    width: 83.33%;
}
.display-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.justify-content-end{
    justify-content: end;
}
.header{
    width: 100%;
    background-color: #000000;
    color: #fff;
}
.btn{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
